.allSpotPage{
 
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
     
     
    }
    body{
        max-width: 1024px;
    }
    .active{
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
    .spotimgDiv{
        height: 60%;
    }
    .spotdiv{
  
    text-decoration: none;
    margin: 0 12px;
    width: 90%;
}

.spotimg{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
   
    border-radius: 13px;
    
}

.underSpot{
    display: flex;
  
   width: 100%;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    height: 30px;
}
.uright{
    display: flex;
}
.cityState{
    text-decoration: none;
  font-weight: bold;
    margin-top: 0px;
}
.spotText{
    font-weight: bold;
}
.spotP{
   
    margin-top: 0;
    color: black;
    text-decoration: none;
}
.msb{
    margin-right: 5px;
    
    color: white;
    cursor: pointer;
}
   