.errors{
    color: red
}
.rot{
    width: 53%;
    display: flex;
    flex-direction: column;
  
    margin-left: 28%;
}
.h2f, .pf, .h5, .errors, .h3, .p{
    margin: 0;
}
.h4{
    margin-bottom: 0;
}
.pc{
    margin-top: 0;
}
.divlab{
    margin-bottom: 9%;
}
.cityState{
    display: flex;
   justify-content: space-between;
}
.textC{
    width: 98%;
    
    margin-top: 3%;
}
.images{
    display: grid;
    grid-gap: 7px;
    margin-bottom: 4%;
}