.logo{
    
    height: 80px;
    
}
.ulNav{
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin: 3% 0;
    box-sizing: border-box;
}
.headerButton{
  
    
    margin: 0px 20px 0 0;
}
.headerB{
    width: 17%;
    display: flex;
    justify-content: space-between;
    height: 23%;
}
.hidden{
    display: none;
}
body{
   
    padding: 3% 7%;
}

