.login{
    color: #FF5A5F;
    margin-left: 10%;
   
}
.log{
    
    height: 250px;
    display: grid;
    justify-content: center;
    width: 400px;
    background-color: w;
    
    
}
.logForm{
    display: grid;
}

.logLabel{
    border: 1px solid black;
    box-shadow: 2px 2px 2px #767676;
    margin-bottom: 6px;
    margin-left: 0px;
    height: 20px;
    width: 170px;
}

.subButton{
    margin-bottom: 8px;
    cursor: pointer;
}
.errors{
    color: #FF5A5F;
}
